* {
    margin: 0;
    padding: 0;
    font-family: 'Tiro Devanagari Sanskrit', serif !important;
}

body {
    background-color: #fff;
}



.blackText {
    color: black !important;
}

.noUnderline {
    text-decoration: none;
}

.mediumFont {
    font-size: 21px;
}

.smallFont {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: oblique;
}

.smallTopMargin {
    margin-top: 1vh;
}

.smallLeftPadding {
    padding-left: 10px;
}

.centerContent {
    justify-content: center;
}

.centerText {
    text-align: center;
}

#first-nav-border {
    border-top: 4px solid black;
}

#first-nav {
    padding-left: 15vw;
    margin-bottom: 40px;
    background-color: #F7F7F7;
}

.nav-link {
    color: #34495e !important;
}

.nav-link:hover {
    color: #7bdcb5 !important;
    transition-duration: .2s;
}

#second-nav-border {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 12px;
}

#cookbook-sell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding-top: 15px;
    height: 5vh;
    margin: 32px 0;
}

#container-img-cookbook {
    display: flex;
    align-items: center;
}

main {
    padding-left: 15vw;
    padding-right: 15vw;
}

#articles-section,
#sidebar {
    margin-top: 3vh;
}

#container-new-recipe {
    margin: 32px 0;
    padding: 16px 12px 12px 12px;
    background-color: #f9f9f9;
    border-width: 2px;
}

#button-subscribe {
    padding: 8px;
    color: white;
    background-color: rgb(29, 28, 28);
    border: none;
    cursor: pointer;
}

#button-subscribe:hover {
    background-color: #31ab9d;
    transition-duration: .2s;
}

article {
    padding: 1vh 1vw;
}

article a {
    color: blue;
}

p {
    margin-bottom: 2vh;
}

.articleTitle {
    line-height: 1.7;
    border-bottom: 2px solid #f7f7f7d0;
}

.articleBody {
    margin: 3vh 0 0 0;
    line-height: 1.7;
}

.favoriteCard {
    margin-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 2px solid #f7f7f7d0;
}

.moreFavoritesLink {
    margin-top: 1vh;
}

.formTopMargin {
    margin-top: 5px;
}

@media screen and (max-width: 48em) {
    #container-img-cookbook {
        display: none;

    }
}