* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    padding-left: 3vw;
    padding-right: 3vw;
}

.simpleBorder {
    border: 1px solid black;
}

.blackText {
    color: black;
}

.noUnderline {
    text-decoration: none;
}

.smallFont {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: oblique;
}

main,
.sidebar {
    margin-top: 3vh;
}



article {
    padding: 1vh 1vw;
}

article a {
    color: blue;
}

p {
    margin-bottom: 2vh;
}

.articleTitle {
    line-height: 1.7;
    border-bottom: 2px solid #f7f7f7d0;
}

.articleBody {
    margin-top: 3vh;
    line-height: 1.7;
}

.favoriteCard {
    margin-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 2px solid #f7f7f7d0;
}

.moreFavoritesLink {
    margin-top: 1vh;
}

.smallTopMargin {
    margin-top: 1vh
}

.centerContent{
    justify-content: center;
}

.smallLeftPadding {
    padding-left: 10px;
}
